.receipt-container {
  background-color: rgb(225, 229, 233);
  border-radius: 5px;
}

.receipt-margin-container {
  padding: 1rem;
}

.receipt-title {
  font-weight: 500;
  letter-spacing: 2px;
}

.receipt-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  margin-bottom: 3rem;
}

.receipt-id {
  font-weight: 300;
}

.red-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
}
.receipt-dots {
  margin-inline: 1rem;
  flex: 1;
  border-bottom: 2px dotted rgb(10, 10, 10);
  justify-self: center;
  align-self: center;
}

.receipt-menu-item-info {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.receipt-menu-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.receipt-specific {
  display: flex;
  justify-content: space-between;
  line-height: 0;
}
