.display-sum-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* width: fit-content; */
  line-height: 0.5;
  background-color: rgb(172, 170, 170);
  border-radius: 5px;
  padding-inline: 1rem;
}

.total {
  font-weight: 700;
}

.moms {
  font-weight: 200;
}
