.display-sum-container {
  display: flex;
  justify-content: space-between;
  line-height: 0.8;
  background-color: rgb(192, 190, 190);
  border-radius: 5px;
  padding-inline: 1rem;
}

.total {
  font-size: 1.5rem;
  font-weight: 700;
}

.moms {
  font-weight: 200;
}
