.display-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  background-color: var(--secondary-background-color);
  padding: 0.2rem 1rem;
  margin-inline: 2rem;
}

.menu-types-container {
  display: flex;
  justify-content: space-between;
}

.menu-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
