.menu {
  background-image: url("/src/assets/background.png");
  background-color: var(--menu-background-color);
  padding: 30px;
  width: 40%;
}

.menu header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-inline: 2rem;
}

.menu header img {
  height: 50px;
  width: 50px;
}

.cart {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.cart:hover {
  cursor: pointer;
}

.cart img {
  width: 30px;
  height: 30px;
}

.cart p {
  position: absolute;
  top: -5px;
  right: -5px;
  margin: 0;
  color: whitesmoke;
  background-color: var(--cart-number-background-color);
  border-radius: 50%;
  padding: 2px 8px;
  z-index: 1;
}
