.menu {
  background-image: url("/src/assets/background.png");
  background-color: var(--menu-background-color);
  padding: 30px;
  width: 100%;
  /* height: 100vh; */
}

.menu header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-inline: 2rem;
}

.menu header img {
  height: 50px;
  width: 50px;
}

.cart {
  position: relative;
  display: inline-block; /* or inline-block; flex just makes centering easier */
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  align-items: center; /* center the icon */
  justify-content: center;
}

.cart:hover {
  cursor: pointer;
}

.cart img {
  width: 30px;
  height: 30px;
  /* no background color here */
}

.cart p {
  position: absolute;
  top: -5px; /* shift the bubble above the top edge */
  right: -5px; /* shift the bubble to the right edge */
  margin: 0;
  color: whitesmoke;
  background-color: var(--cart-number-background-color);
  border-radius: 50%;
  padding: 2px 8px;
  z-index: 1; /* to ensure it’s on top of the icon */
}
