.order-card-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 1rem;
}
.order-card-container:hover {
  transform: scale(1.07);
  border-bottom: 1px solid black;
  /* border-radius: 10px; */
}

.order-bold {
  font-weight: 700;
}

.order-light {
  font-weight: 200;
}
