.order-menu-item-info {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
}

.order-menu-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.order-dots {
  margin-inline: 1rem;
  flex: 1;
  border-bottom: 2px dotted rgb(12, 12, 12);
  justify-self: center;
  align-self: center;
}

.trashcan {
  margin-left: 1rem;
  align-self: flex-start;
  transition: 0.2s;
}

.trashcan:hover {
  cursor: pointer;
  transform: scale(2);
}

.order-item-qty {
  font-weight: 200;
  line-height: 0;
  margin-bottom: 3rem;
}

.order-border {
  border-top: 3px dotted rgb(221, 215, 215);
  margin-bottom: 1rem;
}
