.menu-card-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted whitesmoke;
  cursor: pointer;
}

.menu-card-container:hover {
  background-color: rgb(172, 170, 170);
  border-radius: 10px;
}
