.menu-items-container {
  display: flex;
  justify-content: center;
  background-color: rgb(172, 170, 170);
  /* border: 1px solid; */
  border: none;
  border-radius: 5px;
  padding-inline: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.menu-items-container:hover {
  background-color: black;
  transform: scale(1.1);
}
