.button {
  /* NEED CHANGING LATER. VALUES ARE FOR DEMONSTRATION PURPOSE */
  color: whitesmoke;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.button__black {
  background-color: var(--button-primary-color);
}

.button__transparent {
  border: 2px solid whitesmoke;
  background-color: inherit;
}
