:root {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --menu-background-color: #8ed8bf;
  --secondary-background-color: #605858;
  --cart-number-background-color: #eb5757;
  --button-primary-color: #353131;
  --display-total-background-color: #3531313d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  min-height: 100vh;
  width: 100%;
}
